@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}
:root {
     --myfont: "mulish", sans-sefif;
     --myfont: "Montserrat", sans-sefif;
     --bg-lightcolor: linear-gradient(
          to left,
          rgba(116, 235, 213, 0.6),
          rgba(159, 172, 230, 0)
     );
     --lg-color: linear-gradient(to left, #74ebd5, #9face6);
}
html {
     font-size: 62.5%;
     box-sizing: border-box;
}
body {
     display: flex;
     color: #333;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background-image: linear-gradient(to top left, #753682 0%, red 100%);
     font-weight: 400;
     font-family: "Roboto", sans-serif;
}
main {
     position: relative;
     width: 70rem;
     height: 60rem;
     background-color: rgba(225, 225, 225, 0.4);
     filter: blur();
     box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.26);
     border-radius: 10px;
     /* overflow: hidden; */
     display: flex;
     text-align: center;
}

@media (max-width: 600px) {
     main {
          width: 500px !important;
          height: 600px !important;
     }
     .btn-new {
          top: 3rem !important;
          left: 20rem !important;
          width: 40%;
          font-size: 14px !important;
          padding: 5px 7px !important;
     }
     .btn-roll {
          top: 36.3rem !important;
          left: 20rem !important;
          width: 30%;
          font-size: 14px !important;
          padding: 5px 7x !important;
     }
     .btn-hold {
          top: 52.3rem !important;
          left: 20rem !important;
          width: 24%;
          font-size: 14px !important;
          padding: 5px 7px !important;
     }
     .player {
          width: 200px !important;
          height: 600px !important;
     }
     .current {
          width: 120px !important;
          height: 85px !important;
          font-size: 15px !important;
     }
     .current-label {
          font-size: 1.3rem !important;
     }
     .current-score {
          font-size: 3.2rem !important;
     }
     .score {
          font-size: 5rem !important;

          margin-top: 60px;
     }
     .name {
          font-size: 25px !important;
          top: 40px;
     }
     footer {
          top: 0 !important;
          right: 1px !important;
          font-size: 10px !important;
     }
     .dice {
          width: 80px;
          height: 80px !important;
     }
}

/* .player-0 {
      flex: 35vw;
}
.player-1{
      flex: 35vw;
} */
.player {
     flex: 1;
     padding: 9rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     transition: all 0.8s;
}
/* elements */
.name {
     position: relative;
     font-size: 4rem;
     text-transform: uppercase;
     letter-spacing: 1px;
     word-spacing: 2px;
     font-weight: 300;
     margin-bottom: 1rem;
}
.score {
     font-size: 8rem;
     font-weight: 300;
     color: rgb(165, 11, 70);
     margin-bottom: auto;
}
.player-active {
     background-color: rgba(225, 225, 225, 0.418);
}
.player-active .name {
     font-weight: 700;
}
.player-active .score {
     font-weight: 400;
}
.player-active .current {
     opacity: 1;
}
.current {
     background-color: rgb(165, 11, 70, 0.8);
     border-radius: 9px;
     color: #fff;
     width: 65%;
     padding: 2rem;
     text-align: center;
     transition: all 0.6s;
     position: relative;
}
.current-label {
     text-transform: uppercase;
     margin-bottom: 1rem;
     text-align: center;
     font-size: 1.7rem;
     color: #fff;
     background-color: transparent;
     position: relative;
     left: -12%;
}
.current-score {
     font-size: 3.5rem;
}

.btn {
     position: absolute;
     left: 50%;
     transform: translate(-50%);
     color: #444;
     background: none;
     font-family: inherit;
     border: none;
     font-size: 1.8rem;
     text-transform: uppercase;
     cursor: pointer;
     font-weight: 400;
     transition: all 0.8s;
     background-color: white;
     background-color: rgba(225, 225, 225, 0.618);
     backdrop-filter: blur(10px);
     padding: 0.8rem;
     border-radius: 50rem;
     box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn::first-letter {
     font-size: 2rem;
     display: inline-block;
     margin-right: 0.7rem;
}
.btn-new {
     top: 6rem;
}
.btn-roll {
     top: 39.3rem;
}
.btn-hold {
     top: 46.3rem;
}
.btn:active {
     transform: translate(-50%, 3px);
     box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
}
.btn:focus {
     outline: none;
}
.dice {
     position: absolute;
     left: 50%;
     top: 16.5rem;
     transform: translate(-50%);
     height: 10rem;
     box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
     color: #fff;
     background-color: transparent;
}
.player-winner {
     background-color: #2f2f2f;
}
.player-winner .name {
     font-weight: 700;
     color: rgb(165, 11, 70);
}
.hidden {
     display: none;
}
footer {
     position: absolute;
     top: 5%;
     right: 15%;
     color: #fff;
     font-size: large;
}
